<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/homepage_logo.jpg">
    <link rel="stylesheet" href="/css/styles.css">
    <script></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2><strong>Created By</strong>: Siddharth Shankar</h2>
        <h3><strong>List of APIs used</strong>:</h3>
        <ol>
            <li>WeatherStack</li>
            <li>Mapbox</li>
            <li>NewsAPI.org</li>
            <li>NASA Open APIs</li>
            <li>BoredAPI</li>
        </ol>
        <p>Repository hosted on GitHub.com</p>
        <img class="portrait" src="/img/code.gif">
    </div>
</body>
</html>
