<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/homepage_logo.jpg">
    <link rel="stylesheet" href="/css/styles.css">
    <script></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3><strong>Email Id</strong>: <a href="mailto:sidshnkar@gmail.com">sidshnkar@gmail.com</a></h3>
        <h3><strong>Calendly meeting</strong>: <a href="https://calendly.com/sidshnkar/30min">click here</a></h3>
        <p>Feel free to share any suggestions/ideas about this project with me</p>
        <img class="portrait" src="/img/help_logo.jpg">
    </div>
</body>
</html>
